#ad-preview {
  width: 531px;
  display: none;
  justify-content: center;
  align-items: center;
}

#blah {
  width: 531px;
  min-height: 354px;
  max-height: 500px;
  object-fit: cover;
}

#ad-preview span {
  width: 531px;
  height: 354px;
  border: 3px dashed rgba(255, 0, 0, 0.6);
  position: absolute;
}

#ad-preview h6 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 7px 7px;
  font-size: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.3);


}

.font-i {
  color: cornflowerblue;
  position: absolute;
  right: 24px;
}

.font-i:hover>.font-i-text {
  display: block;
  animation-duration: 0.5s;
  background-color: #ffeb9d;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  right: -385%;
  margin-top: 10px;
  width: 100px;
  /*top: 125%;
  left: 50%;
  margin-left: -80px; */
}

.font-i .font-i-text {
  display: none;

}

.font-i .font-i-text::after {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffe47a transparent;
}